#fullname{
    border-radius: 10px;
}
#email{
    border-radius: 10px;
}
#Phonenumber{
    border-radius: 10px;
}
#password{
    border-radius: 10px;
}
#submit{
    background-color: rgb(4, 117, 102);
    border-radius: 5px;
    color: palegoldenrod;
    border: 10px;
    border-style: outset;
    border-color: rgb(4, 117, 102);
}
.error{
    color: red;
}
.err{
    color: red;
}
body{
    background-image: url(res.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: background-image 2s ease-in-out;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}